* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@keyframes efecto_boton {
  25% {
    transform: rotate 90deg;
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  background: linear-gradient(0deg, rgb(142, 58, 180) 10%, rgb(253, 40, 29) 90%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  list-style: none;
}

.navegacion {
  display: flex;
  justify-content: center;
}
.navegacion-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 5px 5px;
}

.btn {
  background-color: rgb(213, 213, 41);
  animation-name: efecto_boton;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
.btn:hover {
  background-color: rgba(251, 0, 117, 0.41);
}

.title {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.title:hover {
  background-color: rgba(255, 38, 0, 0.448);
  border-radius: 12px;
  letter-spacing: 3px;
  text-decoration: none;
}

.VE {
  margin-top: 2em;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
}

.card {
  background-color: rgba(194, 0, 191, 0.478);
  margin: 2%;
  width: 18rem;
}
.card:hover {
  background-color: rgba(126, 0, 124, 0.478);
}

.row-cols-2 {
  justify-content: center;
}

.btn-warning2 {
  background-color: rgba(181, 114, 167, 0.8784313725);
}

select {
  background-color: rgb(225, 129, 224);
}

input {
  background-color: rgb(225, 129, 224);
}

._TN {
  width: 50em;
  margin-top: 1%;
}

.__TN {
  padding-right: 65%;
  margin: 1%;
}

.formTN {
  width: 100%;
}
.formTN .formTN1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgba(248, 0, 50, 0.652);
  margin: 0 3% 3% 3%;
  border-radius: 35px;
}
.formTN .formTN1 .label-form {
  width: 50%;
  padding: 1%;
}
.formTN .formTN1 .text_espace {
  width: 100%;
  height: 6em;
  background-color: rgba(166, 0, 255, 0.256);
}
.formTN .formTN1 .envio_formulario {
  padding-left: 4.7em;
}

.form-img {
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 65%;
  padding-top: 1%;
  position: absolute;
  right: 100px;
  top: 250px;
}

._dos {
  padding-bottom: 2.2%;
}

main {
  background: linear-gradient(0deg, rgb(253, 40, 29) 10%, rgb(142, 58, 180) 90%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px;
  gap: 3px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

iframe {
  width: 100%;
  height: auto;
}

.carousel {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 1% 5%;
}

.contenedor-items {
  display: flex;
  justify-content: center;
  padding: 1% 1%;
  gap: 2%;
  width: 100%;
  height: auto;
  margin: 6px;
}

.data {
  padding: 5%;
  width: 100%;
}

.mejores-videos {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 1% 1% 1% 1%;
  gap: 2em;
}

.col4 {
  width: 85%;
}

footer {
  background: linear-gradient(0deg, rgb(142, 58, 180) 10%, rgb(253, 40, 29) 90%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2%;
  gap: 10%;
}

.leyenda-footer {
  justify-content: center;
}

.size-items {
  width: 28px;
  height: 28px;
}
.size-items:hover {
  color: rgb(186, 33, 168);
}

@media only screen and (min-width: 577px) and (max-width: 711px) {
  .contenedor-items {
    display: flex;
    flex-direction: column;
  }
  .form-img {
    display: none;
  }
  .__TN {
    padding-right: 0%;
    margin: 0%;
  }
}
@media (max-width: 576px) {
  .main-index {
    border-radius: 12px;
    width: 100%;
    padding: 0;
  }
  main {
    padding: 0;
  }
  .navegacion-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
  .btn {
    background-color: rgba(255, 30, 5, 0.586);
    width: 100%;
  }
  .row-cols-2 {
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
  }
  .leyenda-footer {
    text-align: center;
  }
  ul {
    padding-left: 0;
  }
  .contenedor-items {
    display: flex;
    flex-direction: column;
  }
  .formTN1 {
    border-radius: 5px;
    font-size: small;
  }
  .text_espace {
    width: 100%;
    height: 6em;
  }
  .form-img {
    display: none;
  }
  .maps {
    display: none;
  }
  .__TN {
    width: 100%;
    margin-top: 1%;
    padding-right: 0%;
    margin: 0%;
  }
}

/*# sourceMappingURL=main.css.map */
