header{
    background: linear-gradient(0deg, rgba(142,58,180,1) 10%, rgba(253,40,29,1) 90%);
    //background-color: map-get($map: $colors , $key: header-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul li{
    list-style: none;
}
.navegacion{
    display: flex;
    justify-content: center;
    &-menu{
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 5px 5px;
    }
}
.btn{
    background-color: map-get($map: $colors , $key: botones);
    animation-name: efecto_boton;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    &:hover{
        background-color: map-get($map: $colors , $key: botones-hover);
    }
}
.title{
    color: map-get($map: $colors , $key: titulos);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    &:hover{
        background-color: map-get($map: $colors , $key: titulos-hover);
        border-radius: 12px;
        letter-spacing: 3px;
        text-decoration: none;
    }
}
//Veni al estudio
.VE{
    margin-top: 2em;
    margin-bottom: 0;
}
