img {
    width: 100%;
    height: 100%;
}
.card{
    background-color: map-get($map: $colors , $key: card-color);
    margin: 2%;
    width: 18rem;
    &:hover {
        background-color: map-get($map: $colors , $key: card-color-hover);
    }
}
.row-cols-2{
    justify-content: center;
}
.btn-warning2{
    background-color: map-get($map: $colors , $key: card-button);
}