main{
    background: linear-gradient(0deg, rgba(253,40,29,1) 10%, rgba(142,58,180,1) 90%);
    //background-color: map-get($map: $colors , $key: main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 6px;
        gap: 3px;
    }
}
a{
    text-decoration: none;
    color: map-get($map: $colors , $key: enlaces);
}
iframe{
    width: 100%;
    height: auto;
}
.carousel{
    flex-wrap: wrap;
    @include sizes(100%, auto);
    padding: 1% 5%;
}
.contenedor-items{
    display: flex;
    justify-content: center;
    padding: 1% 1%;
    gap: 2%;
    @include sizes(100%, auto);
    margin: 6px;
}
.data{
    padding: 5%;
    width: 100%;
}
.mejores-videos{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 1% 1% 1% 1%;
    gap: 2em;
}
.col4{
    width: 85%;
}