main{
    background-color: #494747;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px;
    gap: 3px;
}
.carousel{
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 1% 5%;
}
.contenedor-items{
    display: flex;
    justify-content: center;
    padding: 1% 1%;
    gap: 2%;
    width: 100%;
    height: auto;
    margin: 6px;
}
.data{
    padding: 5%;
    width: 100%;
}
.mejores-videos{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 1% 1% 1% 1%;
    gap: 2em;
}
.col4{
    width: 85%;
}