._TN{
    width: 50em;
    margin-top: 1%;
}
.__TN{
    padding-right: 65%;
    margin: 1%;
}
.formTN{
    width: 100%;
}
.formTN1{
    display: flex;
    flex-direction: column;
    background-color: rgb(154, 74, 169);
    margin: 0 3% 3% 3%;
    border-radius: 35px;
}
.label-form{
    width: 50%;
    padding: 1%;
}
._dos{
    padding-bottom: 2.2%;
}
.text_espace{
    width: 100%;
    height: 6em;
    background-color: rgb(225, 129, 224);
}
.envio_formulario{
    padding-left: 4.7em;
}
.form-img{
    display: flex;
    width: 100%;
    height: auto;
    padding-left: 65%;
    padding-top: 1%;
    position: absolute;
    right: 100px;
    top: 250px; 
}