select{
    background-color: map-get($map: $colors , $key: select-imput);
}
input{
    background-color: map-get($map: $colors , $key: select-imput);
}
._TN{
    width: 50em;
    margin-top: 1%;
}
.__TN{
    padding-right: 65%;
    margin: 1%;
}
.formTN{
    width: 100%;
    .formTN1{
        display: flex;
        flex-direction: column;
        gap: 1em;
        background-color: map-get($map: $colors , $key: back-formularios);
        margin: 0 3% 3% 3%;
        border-radius: 35px;
        .label-form{
            width: 50%;
            padding: 1%;
        }
        .text_espace{
            @include sizes(100%, 6em);
            background-color: map-get($map: $colors , $key: espacio-texto-formularios);
        }
        .envio_formulario{
            padding-left: 4.7em;
        }
    }
}
.form-img{
    display: flex;
    @include sizes(100%, auto);
    padding-left: 65%;
    padding-top: 1%;
    position: absolute;
    right: 100px;
    top: 250px; 
}
._dos{
    padding-bottom: 2.2%;
}
