//Colors
$colors:(
    header-color: #494747,
    main-color: #494747,
    footer-color: #ff000096,
    titulos:  rgb(0, 0, 0),
    titulos-hover: rgba(255, 38, 0, 0.448),
    botones: rgb(213, 213, 41),
    mediaquery-botones: rgba(255, 30, 5, 0.586),
    botones-hover: rgba(251, 0, 117, 0.41),
    hover-redes: rgb(186, 33, 168),
    card-color: rgba(194, 0, 191, 0.478),
    card-color-hover: rgba(126, 0, 124, 0.478),
    card-button: #b572a7e0,
    select-imput: rgb(225, 129, 224),
    enlaces: rgb(0, 0, 0),
    back-formularios: rgba(248, 0, 50, 0.652),
    espacio-texto-formularios: rgba(166, 0, 255, 0.256),
    )

